<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dãnam - Make a Difference</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="shortcut icon" href="{{url_for('static',filename='assets/favicon/favicon.ico')}}" type="image/x-icon">
    {% block styles %}
    {% endblock %}

    <script defer>
        console.log( "Checking Login Status" );
        fetch( '/api/login_status' )
            .then( response => response.json() )
            .then( data => {
                console.log( "USER DATA:", data );
                if ( data.status == "logged_in" ) {
                    // Hide the landing nav
                    console.log( "Logged In" );
                    document.getElementById( "landing_nav" ).style.display = 'none';
                    // Show the appropriate navbar based on the user role
                    if ( data.role == "Donor" ) {
                        console.log( "Donor" );
                        document.getElementById( "User_nav" ).style.display = 'flex';
                    } else if ( data.role == "NGO" ) {
                        console.log( "NGO" );
                        document.getElementById( "Ngo_nav" ).style.display = 'flex';
                    } else if ( data.role == "Volunteer" ) {
                        console.log( "Volunteer" );
                        document.getElementById( "Volunteer_nav" ).style.display = 'flex';
                    }
                    console.log( "Setting Profile Info" );
                    document.getElementById( "username" ).innerText = data.username;
                    if ( data.profile_image ) {
                        document.getElementById( "profile-pic" ).src = data.profile_image;
                    } else {
                        document.getElementById( "profile-pic" ).src = "{{url_for('static',filename='assets/images/profile_def_m.png')}}";
                    }
                    console.log( "Script End" );
                }
            } );
    </script>
</head>

<body>
    <header>
        <nav class="container">
            <a href="/" class="logo">
                <img src="{{url_for('static',filename='assets/images/logo.svg')}}" alt="Dãnam" style="width: 2rem;">
                <span style="margin-left: 0.5rem;">Dãnam</span>
            </a>
            <div>
                <nav id="landing_nav" class="nav">
                    <a class="btn-nav" href="{{ url_for('homepage') }}">Home</a>
                    <a class="btn-nav" href="{{ url_for('aboutus') }}">About Us</a>
                    <a class="btn-nav" href="/login">Login/Register</a>
                </nav>
            </div>
            <nav id="User_nav" class="nav" style="display: none;">
                <div class=" container">
                    <div class="nav">
                        <a class="btn-nav" href="{{ url_for('homepage') }}">Home</a>
                        <a class="btn-nav" href="{{ url_for('dashboard') }}">Dashboard</a>
                        <a class="btn-nav" href="{{ url_for('profile') }}" style="display: contents;">
                            <div class="btn-nav profile">
                                <img id="profile-pic" src="{{url_for('static', filename='assets/images/profile_def_m.png')}}" alt="Profile Picture" style="width: 2rem;">
                                <span id="username"></span>
                            </div> 
                        </a>
                        <a class="btn-nav" href="/logout">Logout</a>
                    </div>
                </div>
            </nav>
            <nav id="Ngo_nav" class="nav" style="display: none;">
                <div class=" container">
                    <div class="nav">
                        <a class="btn-nav" href="{{ url_for('homepage') }}">Home</a>
                        <a class="btn-nav" href="{{ url_for('ngo_dashboard') }}">NGO Dashboard</a>
                        <a class="btn-nav" href="{{ url_for('available_volunteers') }}">View Available Volunteers</a>
                        <a class="btn-nav" href="{{ url_for('add_volunteer') }}">Add Volunteer</a>
                        <a class="btn-nav" href="{{ url_for('functionalities') }}">View Functionalities</a>
                        <a class="btn-nav" href="{{ url_for('profile') }}" style="display: contents;">
                            <div class="btn-nav profile">
                                <img id="profile-pic" src="{{url_for('static', filename='assets/images/profile_def_m.png')}}" alt="Profile Picture" style="width: 2rem;">
                                <span id="username"></span>
                            </div> 
                        </a>
                        <a class="btn-nav" href="/logout">Logout</a>
                    </div>
                </div>
            </nav>
            <nav id="Volunteer_nav" class="nav" style="display: none;">
                <div class=" container">
                    <div class="nav">
                        <a class="btn-nav" href="{{ url_for('homepage') }}">Home</a>
                        <a class="btn-nav" href="{{ url_for('volunteer_dashboard') }}">Volunteer Dashboard</a>
                        <a class="btn-nav" href="{{ url_for('profile') }}" style="display: contents;">
                            <div class="btn-nav profile">
                                <img id="profile-pic" src="{{url_for('static', filename='assets/images/profile_def_m.png')}}" alt="Profile Picture" style="width: 2rem;">
                                <span id="username"></span>
                            </div> 
                        </a>
                       
                        <a class="btn-nav" href="{{url_for('logout')}}">Logout</a>
                    </div>
                </div>
            </nav>
        </nav>
    </header>
    <main class="main-content">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="messages" id="flash-messages">
            {% for message in messages %}
            <li class="message-item">{{ message }}</li>
            {% endfor %}
        </ul>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const messages = document.querySelectorAll('#flash-messages .message-item');
                if (messages.length > 0) {
                    const latestMessage = messages[messages.length - 1];
                    latestMessage.style.display = 'block';
                    setTimeout(() => {
                        latestMessage.style.transition = 'opacity 1s';
                        latestMessage.style.opacity = '0';
                        setTimeout(() => {
                            latestMessage.style.display = 'none';
                        }, 1000);
                    }, 3000);
                }
            });
        </script>
        {% endif %}
        {% endwith %}
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 Dãnam. All Rights Reserved.</p>
        </div>
    </footer>
</body>

</html>
